<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amtodev.hospitalReservations">
    <!-- permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/agile"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/agile"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Hospital_reservations"
        tools:ignore="AllowBackup">
        <activity
            android:name=".user.User.AdminUser"
            android:theme="@style/logout"
            android:exported="false" />
        <activity
            android:name=".admin.perfil.UpdatePerfil"
            android:theme="@style/logout"
            android:exported="false" />
        <activity
            android:name=".admin.perfil.ViewPerfil"
            android:theme="@style/logout"
            android:exported="false" />
        <activity
            android:name=".admin.usuarios.ViewUsuarios"
            android:theme="@style/bitcoinTwo"
            android:exported="false" />
        <activity
            android:name=".admin.usuarios.UpdateUsuarios"
            android:theme="@style/logout"
            android:exported="false" />
        <activity
            android:name=".admin.usuarios.AdminUsuarios"
            android:theme="@style/logout"
            android:exported="false" />
        <activity
            android:name=".admin.usuarios.AddUsuarios"
            android:theme="@style/logout"
            android:exported="false" />
        <activity
            android:name=".admin.incidents.ViewIncidents"
            android:exported="false"
            android:theme="@style/bitcoinTwo" />
        <activity
            android:name=".admin.incidents.UpdateIncidents"
            android:exported="false"
            android:theme="@style/logout" />
        <activity
            android:name=".admin.incidents.AdminIncidents"
            android:exported="false"
            android:theme="@style/logout" />
        <activity
            android:name=".admin.incidents.Add_Incidents"
            android:exported="false"
            android:theme="@style/logout" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rutas" />
        </provider>

        <activity
            android:name=".admin.Admin"
            android:exported="false"
            android:theme="@style/logout" />
        <activity
            android:name=".forget_password"
            android:exported="false"
            android:theme="@style/bitcoinThree" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:theme="@style/bitcoinThree" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:theme="@style/bitcoinTwo" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/bitcoinOne">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>